<section class="main-container vh-100">
    <div class="container pt-4">
        <div class="row d-flex justify-content-center mt-2">
            <div class="col-8">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-6">
                            <img src="https://progressive.kelbymediagroup.com/kelbyone/blog/uploads/2015/01/young_feature_food_008.jpg"
                                alt="login form" class="img-fluid h-100" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-6 login-side">
                            <div class="logo my-5 d-flex justify-content-center">
                                <img src="https://www.pikpng.com/pngl/b/429-4290407_healthy-corner-healthy-corner-logo-food-corner-png.png"
                                    height="90px" alt="">
                            </div>
                            <div class="px-4">
                                <form>
                                    
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="Full Name">
                                        <label for="floatingInput">Full Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                        <label for="floatingPassword">Email Adress</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingInput" placeholder="Password">
                                        <label for="floatingInput">Password</label>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                        <label for="floatingPassword">Confirm Password</label>
                                    </div>
            
                                    <div class="form-check d-flex justify-content-center mb-4">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                        <label class="form-check-label" for="form2Example3g">
                                            I agree all statements in <a class="text-body"><u>Terms of service</u></a>
                                        </label>
                                    </div>
            
                                    <div class="d-flex justify-content-center">
                                        <button type="button" data-mdb-ripple-init class="btn btn-dark btn-lg">Register</button>
                                    </div>
            
                                    <p class="text-center mt-2">Already have an account? <a class="fw-bold text-body"
                                            routerLink="/log"><u>Login here</u></a></p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>