<footer class="footer text-center text-white" style="background-color: rgb(95, 161, 163)">
    <div class="container pt-4">
        <section class="mb-4">
            <a class="btn btn-link btn-lg text-dark m-1" href="https://www.facebook.com" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <a class="btn btn-link btn-lg text-dark m-1" href="https://www.google.com" target="_blank">
                <i class="fab fa-google"></i>
            </a>

            <a class="btn btn-link btn-lg text-dark m-1" href="https://www.youtube.com" target="_blank">
                <i class="fab fa-youtube"></i>

            </a>

            <a class="btn btn-link btn-lg text-dark m-1" href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>

            <a class="btn btn-link btn-lg text-dark m-1" href="https://www.linkedin.com" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class="btn btn-link btn-lg text-dark m-1" href="https://github.com" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </section>
    </div>

    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; 2020 Copyright:2024, designed and developed by Fathima Shifa.
    </div>
</footer>