<app-header></app-header>

<div class="main-container">
    <div class="input-group p-5">
        <div class="form-floating">
            <input type="search" class="form-control" id="floatingInput" placeholder="Search">
            <label for="floatingInput">Search food items!</label>
        </div>
        <button type="button" class="search btn px-4">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <div class="container row p-5 px-5">
        <div class="col-3 border py-3 mx-5 ">
            <img routerLink="/details/1" src="https://wallpaperaccess.com/full/767048.jpg" height="250px" class="w-100" alt="">
            <div class="d-flex justify-content-between mt-3">
                <h2 class="ps-2">Pizza Pepperoni (5<i class="fa-solid fa-sm fa-star" style="color: #FFD43B;"></i>)</h2>
                <span class="btn" (click)="toggleHeart()">
                    <div *ngIf="!HeartSelect;else elsedata" class="heart">
                        <i class="fa-regular fa-xl fa-heart" style="color: #e60063;"></i>
                    </div>
                    <ng-template #elsedata>
                        <i class="fa-solid fa-xl fa-heart" style="color: #e60063;"></i>
                    </ng-template>
                </span>
            </div>
            <div class="ps-2 d-flex justify-content-around">
                <span><i class="fa-regular fa-xl fa-clock" style="color: #000000;"></i> 20-30 mins</span>
                <span>400</span>
            </div>
        </div>
        
    </div>
</div>