
<div class="main-container vh-100 d-flex justify-content-center">
    <div class=" d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-body">
                <div class="logo mb-3 d-flex justify-content-center">
                    <img src="https://www.pikpng.com/pngl/b/429-4290407_healthy-corner-healthy-corner-logo-food-corner-png.png"
                        height="90px" alt="">
                </div>
                <form>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>

                    <div class="d-flex justify-content-center my-4">
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block"
                            type="button">Login</button>
                    </div>

                    <a class="smal text-dark" routerLink="/reg">Forgot password?</a>
                    <p class="mb-5 ">Don't have an account? <a class="text-dark" routerLink="/reg"><b>Register here</b></a></p>
                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

            </div>
        </div>
    </div>
</div>